<div class="container">
    {{!-- <div class="card"> --}}
        <form id="potniNalogForm">
        <div class="cardItem">
            <div class="cardContent">
                <label for="voznik">Voznik:</label>
                <select name="voznik" id="voznik">
                    <option value="Samo Palčič">Samo Palčič</option>
                    <option value="Tom Sraka">Tomaž Sraka</option>
                </select>
            </div>
            <div class="cardContent">
                Razlog:
                <br>
                <input type="text" name="razlog" id="razlog">
            </div>
            <div class="cardContent">
                <label for="kilometrina">Trenutna kilometrina:</label>
                <input type="number" name="kilometrina" id="kilometrina" min="0" max="2" value="0.43" step="0.01">
            </div>
        </div>    
        <div class="cardItem">
            <div class="cardContent">
                <span>
                    <label for="zacetek">Začetek:</label>
                    <input type="datetime-local" name="zacetek" id="zacetek">
                </span>
                <span>
                  <label for="konec">Konec:</label>
                    <input type="datetime-local" name="konec" id="konec">  
                </span>
            </div>
            <div class="cardContent">
                Dodaj relacije:
                <span>
                    <label for="od">Od:</label>
                    <select name="od" id="od">
                        <option selected disabled>-</option>
                        <option value="0">Laboratorij</option>
                        <option value="1">Dr Marolt</option>
                        <option value="2">Dr Olujić</option>
                        <option value="4">Dr Marič</option>
                        <option value="9">Dr Velkavrh</option>
                        <option value="3">Dental Market</option>
                        <option value="5">Dentalia</option>
                        <option value="6">Prodent</option>
                        <option value="7">Prima dent</option>
                        <option value="8">Sanolabor</option>
                    </select>
                </span>
                <span>
                    <label for="do">Do:</label>    
                    <select name="do" id="do">
                        <option selected disabled>-</option>
                        <option value="0">Laboratorij</option>
                        <option value="1">Dr Marolt</option>
                        <option value="2">Dr Olujić</option>
                        <option value="4">Dr Marič</option>
                        <option value="9">Dr Velkavrh</option>
                        <option value="3">Dental Market</option>
                        <option value="5">Dentalia</option>
                        <option value="6">Prodent</option>
                        <option value="7">Prima dent</option>
                        <option value="8">Sanolabor</option>
                    </select> 
                </span>
                <span>
                    <button type="button" id="dodajRelacijo">Dodaj</button>
                </span>
            </div>
            <div class="cardContent">
                <label for="dodatniStroski">Dodatni stroški:</label>
                <input type="number" name="dodatniStroski" id="dodatniStroski" min="0" value="0" step="1">
            </div>
            <div class="cardContent">
                <labe for="slika">Priponka</labe>
                <input type="file" name="slika" id="slika" accept="image, pdf" multiple>
            </div>
        </div>
        <div class="cardItem">
            <div class="cardContent" id="relacijeContainer"></div>
            <div class="cardContent" id="slikeContainer"></div>
        </div>
        {{!-- <div class="cardItem">
            <div class="cardContent">
                <button type="button" id="shrani">Shrani</button>
            </div>
        </div> --}}
    </form>
    {{!-- </div> --}}
</div>
<button type="button" id="shrani">Shrani</button>
