<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/pdfform.minipdf.dist.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
